@{
    ViewData["Title"] = "Add Staff";
}
<h1>@ViewData["Title"]</h1>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<form id="addStaffForm">
    <div class="form-group">
        <label for="staffId">Staff ID:</label>
        <input type="text" id="staffId" name="StaffId" required class="form-control" />
    </div>
    <p></p>
    <div class="form-group">
        <label for="fullName">Full name:</label>
        <input type="text" id="fullName" name="Fullname" required class="form-control" />
    </div>
    <p></p>
    <div class="form-group">
        <label for="gender">Gender:</label>
        <select id="gender" name="Gender" required class="form-control">
            <option value="">Select Gender</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
        </select>
    </div>
    <p></p>
    <div class="form-group">
        <label for="birthday">Birthday:</label>
        <input type="date" id="birthday" name="Birthday" required class="form-control" />
    </div>
    <p></p>
    <div class="form-group">
        <button id="btnAddStaff" class="btn btn-primary">Add Staff</button>
    </div>
</form>

<script>
    
    $("#btnAddStaff").click(function(e) {
        e.preventDefault();

        var staff = {
            staffId: $("#staffId").val(),
            fullname: $("#fullName").val(),
            gender: parseInt($("#gender").val()),
            birthday: $("#birthday").val()
        };
        
        console.log("data: ", JSON.stringify(staff))

        $.ajax({
            url: 'https://localhost:5000/api/v1/staff',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(staff),
            success: function(data, textStatus, xhr)
            {
                alert("Staff added successfully!");
                //clear form
                $("#addStaffForm")[0].reset();
            },
            error: function(xhr, textStatus, errorThrown)
            {
                console.log("Error: " + errorThrown);
            }
        });
    });
</script>